* {
    box-sizing: border-box;
    text-decoration: none;
  }

body{
    /*background-color: a cor que combinar mais na hora, imagino q preto/#000;
    o efeito de borrar fica com aquela borda branca por causa disso*/
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

#bg-image{
    background-image: url("bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

h1{
    margin: 0;
}

p{
    font-size: 70px;
    color: rgba(250, 235, 215, 0);
    margin: 0;
    padding: 0;
}